@model ContractTester.ViewModels.TestMessageViewModel

@{
    ViewData["Title"] = "Test Sample Message";
}

<h2>Test Sample Message</h2>

<div class="row">
    <hr />
    <div class="col-md-4">
        <h4>Contract</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.contract.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.contract.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.contract.ContractString)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.contract.ContractString)
            </dd>
        </dl>
    </div>
    <div class="col-md-4">
        <h4> Submit Test Message</h4>
        <div class="pull-left">
            <form asp-action="TestMessage">
                <textarea name="sampleMessage" asp-for="TestMessage"></textarea>
                <div class="form-group">
                    <input asp-for="TestMessage" type="submit" value="Submit Message" class="btn btn-default" />
                </div>
            </form>
            @if (!String.IsNullOrEmpty(Model.TestMessageValid))
            {
                if (Model.TestMessageValid == "Valid")
                {
                    <h4 style="color:green">Message is @Model.TestMessageValid</h4>
                }
                else
                {
                    <h4 style="color:red">Message is @Model.TestMessageValid</h4>
                }
            }

        </div>
    </div>
</div>
<div class="row">
    <a asp-action="Edit" asp-route-id="@Model.contract.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
